@import "settings";
@import "foundation";
@import "webicons.scss";

.footer {
	color: rgb(200,200,200);
	background: rgb(51,51,51);
	padding: 24px 0px 10px;
}

.panel-title {
	background: $primary-color;
	margin: -1.5rem -1.35rem 1.25rem -1.25rem !important;
	padding: 0;
	h4 {
		color: white;
		padding: 1rem 1rem 1rem 0.5rem;
	}
}

.panel-footer {
	background: darken($panel-bg, 10%);
	margin: 1.5rem -1.25rem -2.5rem -1.25rem !important;
	padding: 8px 0px 2px 0px !important;
	line-height: normal;
}

.panel-footer-text {
	vertical-align: middle;
	p { margin: 0px !important; }
}

.top-padding {
	padding-top: 2.0rem;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
